<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="br.com.javaweb.aula-ejbPU" transaction-type="JTA">
    <jta-data-source>javaweb</jta-data-source>
    <class>br.com.javaweb.aula.entidade.Automovel</class>
    <class>br.com.javaweb.aula.entidade.Combustivel</class>
    <class>br.com.javaweb.aula.entidade.Cor</class>
    <class>br.com.javaweb.aula.entidade.Marca</class>
    <class>br.com.javaweb.aula.entidade.Modelo</class>
    <class>br.com.javaweb.aula.entidade.Opcional</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
